<app-menu></app-menu>
<div><span class="h3" *ngIf="request.user.username != null">Request Lines for {{request.user.username}}'s Request from {{request.submittedDate}}</span></div>
<table class="table">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">ID</th>
            <th scope="col">User</th>
            <th scope="col">Description</th>
            <th scope="col">Total</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th></th>
            <td>{{request.id}}</td>
            <td>{{request.user.username}}</td>
            <td>{{request.description}}</td>
            <td>{{request.total}}</td>
            <td>{{request.status}}</td>
            <td><button type="button" class="btn btn-primary" (click)="submit()" *ngIf='request.status != "Approved"'>Submit For Review</button></td>
        </tr>
    </tbody>
</table>
<div>
    <span class="h3">Line Items</span>
    <span><button type="button" class="btn btn-primary" routerLink="/requests/lines/create/{{request.id}}" *ngIf='request.status != "Approved"'>Add</button></span>
</div>
    
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th scope="col">Product</th>
            <th scop="col"></th>
            <th scope="col">Quantity</th>
            <th scope="col">Total</th>
            <th scop="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let l of lines">
            <th></th>
            <td>{{l.product.name}}</td>
            <td><img src="{{l.product.photoPath}}"></td>
            <td>{{l.quantity}}</td>
            <td>{{l.product.price}}*{{l.quantity}}</td>
            <td *ngIf='request.status != "Approved"'>
                <a routerLink="/requests/lines/edit/{{l.id}}">Edit</a> |
                <a id="deleteLink" (click)="deleteLine(l)">Delete</a>
            </td>
        </tr>
    </tbody>
</table>