th
{
    background-color: wheat;
}
div
{
    background-color: burlywood;
}
#topRow
{
    background-color: burlywood;
}
span
{
    padding: 25px
}
#deleteLink 
{
    color: #007bff;
}
  
  #deleteLink:hover 
{
    cursor: pointer;
    color: #0056b3;
    text-decoration: underline;
}
  