<app-menu></app-menu>
<div>
    <span class="h3">Product List</span>
    <button type="button" class="btn btn-primary" routerLink="/products/create">New Product</button>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col"><a (click)="sortColumn('id')">ID</a></th>
            <th scope="col"><a (click)="sortColumn('vendorName')">Vendor</a></th>
            <th scope="col"><a (click)="sortColumn('partNumber')">Part Number</a></th>
            <th scope="col"><a (click)="sortColumn('name')">Name</a></th>
            <th scope="col"><a (click)="sortColumn('price')">Price</a></th>
            <th scope="col">Photo</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products | sort:sortCriteria:ascSequence">
            <th scope="row">{{product.id}}</th>
            <td>{{product.vendor.name}}</td>
            <td>{{product.partNumber}}</td>
            <td>{{product.name}}</td>
            <td>${{product.price}}</td>
            <td><img src="{{product.photoPath}}"></td>
            <td>
                <a routerLink="/products/detail/{{product.id}}">Details</a> | 
                <a routerLink="/products/edit/{{product.id}}">Edit</a>
            </td>
        </tr>
    </tbody>
</table>