th
{
    background-color: wheat;
}
div
{
    background-color: burlywood;
}
#topRow
{
    background-color: burlywood;
}
span
{
    padding: 25px
}
#deleteLink 
{
    color: #007bff;
}
  
  #deleteLink:hover 
{
    cursor: pointer;
    color: #0056b3;
    text-decoration: underline;
}
td
{
    background-color: beige
}
.btn-danger
{
    background-color: darkred;
    border-color: black;
}
.btn-primary
{
    background-color: darkblue;
    border-color: black;
}
img
{
    height: 150px;
}