<app-menu></app-menu>
<div><span class="h3">Request Details for {{request.user.username}}'s Request from {{request.submittedDate}}</span></div>
<table class="table">
    <tbody>
        <tr>
            <th scope="row">ID</th>
            <td><input [(ngModel)]="request.id" type="text" disabled></td>
        </tr>
        <tr>
            <th scope="row">User</th>
            <td><input [(ngModel)]="request.user.username" type="text" disabled></td>
        </tr>
        <tr>
            <th scope="row">Description</th>
            <td><input [(ngModel)]="request.description" type="text" disabled></td>
        </tr>
        <tr>
            <th scope="row">Justification</th>
            <td><input [(ngModel)]="request.justification" type="text" disabled></td>
        </tr>
        <tr>
            <th scope="row">Delivery Mode</th>
            <td><input [(ngModel)]="request.deliveryMode" type="text" disabled></td>
        </tr>
        <tr>
            <th scope="row">Total</th>
            <td>$<input [(ngModel)]="request.total" type="text" disabled></td>
        </tr>
        <tr>
            <th scope="row">Date Needed</th>
            <td><input [(ngModel)]="request.dateNeeded" type="text" disabled></td>
        </tr>
        <tr>
            <th scope="row">Date Submitted</th>
            <td><input [(ngModel)]="request.submittedDate" type="text" disabled></td>
        </tr>
        <tr>
            <th scope="row">Status</th>
            <td><input [(ngModel)]="request.status" type="text" disabled></td>
        </tr>
        <tr>
            <th scope="row">Reason for Rejection</th>
            <td><input [(ngModel)]="request.reasonForRejection" type="text" disabled></td>
        </tr>
        <tr>
            <td>
                <button type="button"  [ngClass]="btnsav" class="btn btn-primary" routerLink="/requests">Return to Requests</button>
            </td>
            <td>
                <button type="button"  [ngClass]="btndel" class="btn btn-danger" (click)="deleteRequest()">Delete Request</button>
            </td>
        </tr>
    </tbody>
</table>