<app-menu></app-menu>
<div>
    <span class="h3">User List</span>
    <span><button type="button" class="btn btn-primary" routerLink="/users/create">New User</button></span>
    <input [(ngModel)]="searchCriteria" type="text" placeholder="Search">
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col"><a (click)="sortColumn('id')">ID</a></th>
            <th scope="col"><a (click)="sortColumn('username')">Username</a></th>
            <th scope="col"><a (click)="sortColumn('lastName')">Name</a></th>
            <th scope="col"><a (click)="sortColumn('email')">E-mail</a></th>
            <th scope="col"><a (click)="sortColumn('phoneNumber')">Phone</a></th>
            <th scope="col">Admin?</th>
            <th scope="col">Reviewer?</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users | userSearch:searchCriteria | sort:sortCriteria:ascSequence">
            <th scope="row">{{user.id}}</th>
            <td>{{user.username}}</td>
            <td>{{user.firstName}} {{user.lastName}}</td>
            <td>{{user.email}}</td>
            <td>{{user.phoneNumber}}</td>
            <td>{{user.admin}}</td>
            <td>{{user.reviewer}}</td>
            <td>
                <a routerLink="/users/detail/{{user.id}}">Details</a> | 
                <a routerLink="/users/edit/{{user.id}}">Edit</a>
            </td>
        </tr>
    </tbody>
</table>