<app-menu></app-menu>
<div class="h3">Product Details for {{product.name}}</div>
<table class="table">
    <tbody>
        <tr>
            <th scope="row">ID</th>
            <td><input [(ngModel)]="product.id" type="text" disabled></td>
        </tr>
        <tr>
            <th scope="row">Vendor</th>
            <td>
                <select [(ngModel)]="product.vendor" [compareWith]="compareFn" (click)="newChanges()">
                    <option *ngFor="let vendor of vendors" [ngValue]="vendor">{{vendor.name}}</option>
                </select>
            </td>
        </tr>
        <tr>
            <th scope="row">Part Number</th>
            <td><input [(ngModel)]="product.partNumber" type="text" (click)="newChanges()"></td>
        </tr>
        <tr>
            <th scope="row">Name</th>
            <td><input [(ngModel)]="product.name" type="text" (click)="newChanges()"></td>
        </tr>
        <tr>
            <th scope="row">Price</th>
            <td><input [(ngModel)]="product.price" type="text" (click)="newChanges()"></td>
        </tr>
        <tr>
            <th scope="row">Unit</th>
            <td><input [(ngModel)]="product.unit" type="text" (click)="newChanges()"></td>
        </tr>
        <tr>
            <th scope="row">Image</th>
            <td><input [(ngModel)]="product.photoPath" type="text" (click)="newChanges()"></td>
        </tr>
        <tr>
            <td>
                <button type="button"  [ngClass]="btnsav" class="btn btn-primary" (click)="saveChanges()">{{saveMsg}}</button>
            </td>
            <td>
                <button type="button"  [ngClass]="btndel" class="btn btn-danger" (click)="deleteProduct()">Delete Product</button>
            </td>
        </tr>
    </tbody>
</table>