<app-menu></app-menu>
<div>
    <span class="h3">Requests in Review</span>
    <span><button type="button" class="btn btn-primary" routerLink="/requests/create">New Request</button></span>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col"><a (click)="sortColumn('id')">ID</a></th>
            <th scope="col"><a (click)="sortColumn('username')">User</a></th>
            <th scope="col">Description</th>
            <th scope="col">Justification</th>
            <th scope="col">Total</th>
            <th scope="col"><a (click)="sortColumn('submittedDate')">Date Submitted</a></th>
            <th scope="col"><a (click)="sortColumn('dateNeeded')">Deadline</a></th>
            <th scope="col"><a (click)="sortColumn('status')">Status</a></th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let request of requests | sort:sortCriteria:ascSequence">
            <th scope="row">{{request.id}}</th>
            <td>{{request.user.username}}</td>
            <td>{{request.description}}</td>
            <td>{{request.justification}}</td>
            <td>{{request.total}}</td>
            <td>{{request.submittedDate}}</td>
            <td>{{request.dateNeeded}}</td>
            <td>{{request.status}}</td>
            <td>
                <a routerLink="/requests/detail/{{request.id}}">Details</a> | 
                <a routerLink="/requests/edit/{{request.id}}">Edit</a> | 
                <a routerLink="/requests/lines/{{request.id}}">Line</a>
            </td>
        </tr>
    </tbody>
</table>